.app{
  display: grid;
  grid-template-rows: 80px auto;
}
/* Make PX bot button look like your .search_button */
/* .px-widget-dragging-handle {
    height: 10% ;
    padding: 0 10px !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    border: none !important;
    background-color: #6457f9 !important;
    color: #fff !important;
    cursor: pointer !important;
    border-radius: 5px !important;
    margin-left: auto !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    /* Adjust width/height for best fit if desired: */
    /* width: 64px !important;
    min-height: 40px !important;
    box-shadow: 0 2px 8px rgba(50,50,50,0.10) !important;
    box-sizing: border-box !important;
    z-index: 10000 !important; */
/* }
.px-widget-dragging-handle:hover {
    background-color: #43bf47 !important; 
    } /* Or any hover color you use */
