// src/globalButtons.scss

// This will affect all <button> elements globally, including third-party widgets!
// button {
//     background-color: #3f10ea !important;
//     color: #f7f30f !important;
//     border-radius: 5px !important;
//     font-size: 20px !important;
//     font-weight: 500 !important;
//     border: none !important;
//     cursor: pointer !important;
//     padding: 0 10px !important;
//     height: 30% !important;
//     display: inline-block !important;
//     text-align: center !important;
//     display: inline !important;
// }
// button:hover {
//     background-color: #b1e600 !important;
// }